.bashrc
.bash_profile
.bash_logout
logs
Maildir
sf14/cache/*
sf14/log/*
htdocs/uploads/*
sf14/config/databases.yml
sf14/config/propel.ini
sf14/data/sql/*
sf14/lib/filter/doctrine/base/Base*
sf14/lib/filter/doctrine/*Plugin/base/Base*
sf14/lib/form/doctrine/base/Base*
sf14/lib/form/doctrine/*Plugin/base/Base*
sf14/lib/model/doctrine/base/Base*
sf14/lib/model/doctrine/*Plugin/base/Base*
sf14/lib/model/om/*
sf14/lib/model/map/*
htdocs/*Plugin/*
